numpy
matplotlib
seaborn
scikit-learn
tensorflow
torch
torchvision
plotly
bokeh
altair
gensim
textblob
pyLDAvis
dask
pyarrow
fastparquet
opencv-python
scikit-image
albumentations
gym
stable-baselines3
tqdm
joblib
pydantic
transformers
spacy
nltk
openai
tensorflow-addons
tensorflow-probability
torchtext
torchaudio
pandas
scipy
pillow
xgboost
lightgbm
catboost
pytorch-lightning
keras
beautifulsoup4
scrapy
sqlalchemy
pytest
flask
django
streamlit
python-dotenv
langchain-community
ipykernel
pypdf
langchain_openai
langchain
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
langchain-groq
duckduckgo_search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
langchain_groq
fastapi